[Desktop Entry]
Encoding=UTF-8
Name=Bitcoin Core
Comment=Connect to the Agricoin P2P Network
Exec=agricoin-qt %u
Terminal=false
Type=Application
Icon=agricoin128
MimeType=x-scheme-handler/agricoin;
Categories=Office;Finance;
